@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,400,600,700);
body {
  font-family: 'Open Sans', sans-serif;
  color: #1d4568;
  font-size: .87em;
  line-height: 1.5;
  margin: 0; }

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

img {
  max-width: 100%; }

h1 {
  font-size: 3em; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.visuallyhidden {
  position: absolute;
  left: -9999px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.logo {
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 5%; }
  .logo a {
    display: block;
    padding: 0;
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat center;
    background-size: contain;
    max-width: 100%;
    height: 150px; }
  .logo img {
    margin: 0 auto;
    text-align: center; }

.menuNav {
  background-color: #1d4568;
  margin-bottom: 15px; }
  .menuNav ul {
    margin: 0;
    padding: 0; }
  .menuNav li {
    display: block;
    text-align: center;
    padding: 10px 10px;
    border-bottom: 1px solid #5a7d9b; }
  .menuNav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased; }

.createStrong {
  box-sizing: border-box;
  margin: 0 auto;
  background: url(../images/creatstrong_bg.png) no-repeat bottom;
  background-size: 100% auto;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%; }
  .createStrong h2 {
    font-size: 2.2em;
    text-align: center;
    font-weight: 400;
    margin-right: 5%;
    margin-left: 5%;
    -webkit-font-smoothing: antialiased; }
  .createStrong p {
    margin-right: 5%;
    margin-left: 5%; }

.ourProgs {
  margin-right: 5%;
  margin-left: 5%; }
  .ourProgs h3 {
    margin: 0;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px; }

.picGrid {
  margin: 0 auto;
  max-width: 360px;
  margin-bottom: 20px; }
  .picGrid img {
    box-sizing: border-box;
    width: 177px;
    height: 144px;
    margin-right: 3px;
    margin-bottom: 3px;
    float: left;
    overflow: hidden; }

.ourProgs_text {
  display: block;
  clear: both; }

.learnbutton {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 6%; }
  .learnbutton button {
    width: 200px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #efc94b;
    background-color: #ffc600;
    background: #f5df6a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f5df6a 0%, #e8b22c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5df6a), color-stop(100%, #e8b22c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5df6a 0%, #e8b22c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5df6a 0%, #e8b22c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5df6a 0%, #e8b22c 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f5df6a 0%, #e8b22c 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5df6a', endColorstr='#e8b22c',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: 0px 5px 20px -1px black;
    -moz-box-shadow: 0px 5px 20px -1px black;
    box-shadow: 0px 5px 20px -1px black; }

footer {
  margin: 0 auto;
  padding-top: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: .75em;
  background-color: #193e65;
  color: #fff; }

.footerBox {
  display: block;
  margin: 0 auto;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%; }

.footerDivs {
  margin: 0 auto;
  text-align: center;
  float: left;
  margin-right: 10%; }
  .footerDivs h4 {
    margin: 0;
    margin-bottom: 5px; }
  .footerDivs ul {
    margin: 0;
    padding: 0; }
  .footerDivs li {
    list-style: none; }
  .footerDivs a {
    text-decoration: none; }

.copyright p {
  clear: both;
  text-align: center;
  -webkit-font-smoothing: antialiased; }

/*# sourceMappingURL=style.css.map */
