.learnbutton {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 6%;

	button {
		width: 200px;
		height: 40px;
		border-radius: 3px;
		color: #fff;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.1em;
		font-weight: 700;
		-webkit-font-smoothing:antialiased;
		border: 1px solid #efc94b;
		background-color: #ffc600;
		background: #f5df6a; /* Old browsers */
		background: -moz-linear-gradient(top,  #f5df6a 0%, #e8b22c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5df6a), color-stop(100%,#e8b22c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f5df6a 0%,#e8b22c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f5df6a 0%,#e8b22c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f5df6a 0%,#e8b22c 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f5df6a 0%,#e8b22c 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5df6a', endColorstr='#e8b22c',GradientType=0 ); /* IE6-9 */
		-webkit-box-shadow: 0px 5px 20px -1px rgba(0,0,0,1);
		-moz-box-shadow: 0px 5px 20px -1px rgba(0,0,0,1);
		box-shadow: 0px 5px 20px -1px rgba(0,0,0,1);
	}
}