footer {
	margin: 0 auto;
	padding-top: 25px;
	font-family: 'Montserrat', sans-serif;
	font-size: .75em;
	background-color: #193e65;
	color: #fff;
}
.footerBox {
	display: block;
	margin: 0 auto;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
}
.footerDivs {
	margin: 0 auto;
	text-align: center;
	float: left;
	margin-right: 10%;
	
	h4 {
	margin: 0;
	margin-bottom: 5px;
	}
	ul {
	margin: 0;
	padding: 0;
	}
	li {
	list-style: none;
	}
	a {
	text-decoration: none;
	}
}

.copyright p {
	clear: both;
	text-align: center;
	-webkit-font-smoothing:antialiased;
}